#region-clientes.container
  .region
    .region-title
      %h1= page_title!('cliente')

  .region
    %p
      %b Link:
      = @cliente.link
    %p
      %b Logo:
      = @cliente.logo

  .region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_cliente_path(@cliente), class: 'btn btn-success'
    = link_to 'Regresar', clientes_path, class: 'btn btn-warning'
