#region-inicio
  .container-total
    = image_tag ( image_path ('img-index-1.jpg')), class: 'img-responsive'
  .container
    .linea
    .region-general
      %h2.titulo-general
        SLOGAN DE JEM IMAGEN
      %p.texto-generl
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
      .img-down
        = image_tag image_path ('arrow-down.jpg')
    .clear
  .container-total
    = image_tag ( image_path ('img-index-2.jpg')), class: 'img-responsive'
  .container
    .info-inicio
      %h2.title-inicio
        ADHESIVOS y ploteos
      %p.texto-inicio
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
      .img-down
        = image_tag image_path ('arrow-down.jpg')
  .container-total
    = image_tag ( image_path ('img-index-3.jpg')), class: 'img-responsive'
  .container
    .info-inicio
      %h2.title-inicio
        stands y módulos
      %p.texto-inicio
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.  
      .img-down
        = image_tag image_path ('arrow-down.jpg')
  .container-total
    = image_tag ( image_path ('img-index-4.jpg')), class: 'img-responsive'
  .container
    .info-inicio
      %h2.title-inicio
        merchandising
      %p.texto-inicio
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.  
      .img-down
        = image_tag image_path ('arrow-down.jpg')
  .container-total.gerente
    .region-gerente
      %h3.quotes
        "Muy contento con los resultados obtenidos después de trabajar con Jem Imagen"
        .firma
          Nombre Apellido
          %br
            Gerente General | Empresa"
