- if current_admin
  %li= link_to 'Inicio', root_path
  %li= link_to 'Servicios', servicios_path
  %li= link_to 'Quienes Somos', quienes_somos_index_path
  %li= link_to 'Mensajes', contactos_path
  %li= link_to 'Cerrar Sesión', destroy_admin_session_path, method: :delete
- else
  %li= link_to 'Inicio', root_path
  %li= link_to 'Servicios', servicios_path
  %li= link_to 'Quienes Somos', quienes_somos_index_path
  %li= link_to 'Contacto', new_contacto_path

